<h2>Update Band</h2>

<form action="band_url(@band)" method="POST">
    <input type="hidden" name="method" value="PATCH"/>

    <div>
        <label>Enter New Band Name
            <input type="text" name="band[:name]" value=""/>

        </label>
    </div>

    <input class="button" type="submit" value="Update Band" />

</form>